.ppal-nav {
    width: 100vw;
    background-color: teal;
    padding-left: 20px;
    .nav-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .option {
            padding: 10px;
            a {
                color: black;
                cursor: pointer;
                &:hover {
                    color: white;
                }
            }
        }
    }
}