* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

.layout {
  position: relative; }

.header {
  background-color: lightgreen;
  padding: 20px;
  display: flex;
  justify-content: space-between; }
  .header p {
    padding: 0 30px;
    color: black; }

.ppal-nav {
  width: 100vw;
  background-color: teal;
  padding-left: 20px; }
  .ppal-nav .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .ppal-nav .nav-list .option {
      padding: 10px; }
      .ppal-nav .nav-list .option a {
        color: black;
        cursor: pointer; }
        .ppal-nav .nav-list .option a:hover {
          color: white; }

.main {
  background-color: whitesmoke;
  width: 1200px; }
  .main .main-content {
    text-align: center; }

.content {
  display: flex;
  flex-direction: row-reverse;
  height: 85vh; }
  .content .aside {
    background-color: yellowgreen;
    width: 300px; }
    .content .aside .aside-content {
      text-align: center;
      font-style: italic; }

.footer {
  bottom: 0;
  background-color: cornflowerblue;
  position: absolute;
  right: 0;
  left: 0; }
  .footer p {
    text-align: center;
    color: black; }
